:root{
    --verde-menu: #20B2AA;
    --branco-menu: #FFFFFF;
    --texto-site: #000000;
    --azul-botao: #03A2DC;
    --botao-texto: #2C2C2C;
    --fundo: #d4d3d3;
}

body{
    background-color: var(--fundo);

}


/*Cabecalho padrão*/
header{
    display: flex;
    background-color: var(--verde-menu);
    border-radius: 0 0 16px 16px;
}

.cabecalho_caixa{
    width: 1440px;
    position: relative;
    margin: 0 auto;
}

nav{
    position: absolute;
    top: 2em;
    right: 0;
}

nav li{
    display: inline;
    margin: 10px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.16);
}

nav a{
    text-transform: uppercase;
    color: var(--branco-menu);
    font-weight: bold;
    font-size: 16px;
}

nav a:hover{
    color: var(--texto-site);
    text-decoration: underline;
    transition: 0.5s;
}

.cabecalho{
    padding: 20px;
}

.cabecalho_imagem{
    width: 20em;
}

.texto_principal-abertura{
    display: flex;
    flex-direction: column;
}

.titulo_principal{
    text-align: center;
    text-decoration: underline;
    font-size: 2em;
    font-weight: bold;
    padding: 16px;
}

.texto_principal{
    text-align: center;
    font-size: 1.2em;
}

.secao{
    display: grid;
    grid-template-columns: 2fr;
    padding: 5rem 8rem;
    gap: 24px;
}

.banner_secao{
    width: 40rem;
    border-radius: 10px ;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.16);;
}

.primario{
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

.secao__titulo{
    font-size: 40px;
    font-weight: 700;
    font-family: 'Times New Roman', Times, serif;
    padding: 16px 0;
}

.secao__descricao-total{
    font-size: 1.2em;
    padding: 16px 0;
}

.secao_botao{
    background-color: var(--azul-botao);
    border-radius: 8px;
    padding: 1em;
    color: var(--botao-texto);
    font-size: 18px;
    font-size: 1em;
}

.secao_botao:hover{
    background-color: var(--botao-texto);
    text-decoration: underline;
    color: var(--branco-menu);
    transition: 0.5s;
}

.mapa{
    text-align: center;
}

.mapa p{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
    font-weight: 400;
    font-size: 48px;
    padding: 2em;
}

.linha{
    width: 90vw;
    border: 1px solid var(--texto-site);
    bottom: 100%;
    left: 0;
    right: 0;
    margin: auto;
}

.contato{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
    font-weight: 400;
    font-size: 36px;
    padding: 2rem;
}

.midia img{
    width: 10%;
    text-align: center;
}


footer{
    text-align: center;
}